/.idea
/.idea_modules
out
Scratch.scala
Scratch.sc
scratch.scala
scratch.sc
/bin/mill
/versions.properties
/bin/mac/sha3
/bin/mac/jdk
/bin/linux/sha3
/bin/linux/jdk
/bin/win/sha3.exe
/bin/win/jdk
/bin/sireum
/bin/sireum.bat
/bin/act
/bin/act.bat