[submodule "runtime"]
	path = runtime
	url = https://github.com/sireum/runtime.git
[submodule "air"]
	path = air
	url = https://github.com/sireum/air.git
[submodule "sireum"]
	path = sireum
	url = https://github.com/sireum/kekinian.git
